.resultContainer {
    display: flex;
    align-content: center;
}

/* #resultsDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
} */

.albumArt {
    width: 15%;
    border-radius: 5%;
}

.largeAlbumArt {
    width: 25%;
    border-radius: 5%;
}

.songTitle {
    font-size: 20px;
    font-weight: bold;
}

.artistName {
    font-size: 16px;
    font-weight: bold;
}

.albumName {
    font-size: 16px;
    font-weight: lighter;
}

.largeAlbumName {
    font-size: 25px;
    font-weight: bold;
}

